# TP1 : Build the first Deep Learning NN with Keras

Our main goal is to predict the churn rate of a certain bank, that is, the customer who will leave this banking service.

# 1- Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

# 2- Preprocessing data

In [2]:
# Importing the dataset using pandas
dataset = pd.read_csv('data.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## 2.1- Exploring data

In [3]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
dataset.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

## 2.2- Dividing data to features and targets

In [6]:
# Create matrix of features and matrix of target variable.
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [7]:
X[:,1:3]

array([['France', 'Female'],
       ['Spain', 'Female'],
       ['France', 'Female'],
       ...,
       ['France', 'Female'],
       ['Germany', 'Male'],
       ['France', 'Female']], dtype=object)

## 2.3- Encoding data

Country has string labels such as “France, Spain, Germany” while Gender has “Male, Female”. We have to encode this strings into numeric

In [8]:
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [9]:
X[:,1:3]

array([[0, 0],
       [2, 0],
       [0, 0],
       ...,
       [0, 0],
       [1, 1],
       [0, 0]], dtype=object)

In [10]:
print(labelencoder_X_1.classes_)
print(labelencoder_X_2.classes_)

['France' 'Germany' 'Spain']
['Female' 'Male']

In [11]:
print(labelencoder_X_1.inverse_transform([0,1,2,2,1,0]))
print(labelencoder_X_2.inverse_transform([0,1,1,0]))

['France' 'Germany' 'Spain' 'Spain' 'Germany' 'France']
['Female' 'Male' 'Male' 'Female']

/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

## 2.4- One hot encoding data

Label encoding has introduced new problem in our data. LabelEncoder has replaced France with 0, Germany 1 and Spain 2 but Germany is not higher than France and France is not smaller than Spain so we need to create a dummy variable for Country.

In [12]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [13]:
print(X[0:5,:])

[[0.0000000e+00 0.0000000e+00 6.1900000e+02 0.0000000e+00 4.2000000e+01
  2.0000000e+00 0.0000000e+00 1.0000000e+00 1.0000000e+00 1.0000000e+00
  1.0134888e+05]
 [0.0000000e+00 1.0000000e+00 6.0800000e+02 0.0000000e+00 4.1000000e+01
  1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00 1.0000000e+00
  1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 0.0000000e+00 4.2000000e+01
  8.0000000e+00 1.5966080e+05 3.0000000e+00 1.0000000e+00 0.0000000e+00
  1.1393157e+05]
 [0.0000000e+00 0.0000000e+00 6.9900000e+02 0.0000000e+00 3.9000000e+01
  1.0000000e+00 0.0000000e+00 2.0000000e+00 0.0000000e+00 0.0000000e+00
  9.3826630e+04]
 [0.0000000e+00 1.0000000e+00 8.5000000e+02 0.0000000e+00 4.3000000e+01
  2.0000000e+00 1.2551082e+05 1.0000000e+00 1.0000000e+00 1.0000000e+00
  7.9084100e+04]]

In [14]:
X[1]

array([0.0000000e+00, 1.0000000e+00, 6.0800000e+02, 0.0000000e+00,
       4.1000000e+01, 1.0000000e+00, 8.3807860e+04, 1.0000000e+00,
       0.0000000e+00, 1.0000000e+00, 1.1254258e+05])

## 2.5- Dividing data to training and test sets

In Machine Learning, we always divide our data into training and testing part meaning that we train our model on training data and then we check the accuracy of a model on testing data. Testing your model on testing data will only help you evaluate the efficiency of model.

In [15]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## 2.6- Scaling data

If you carefully observe data, you will find that data is not scaled properly. Some variable has value in thousands while some have value is tens or ones. We don’t want any of our variable to dominate on other so let’s go and scale data.

In [16]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# 3- Creating NN and training it

## 3.1- Building the Neuraul Network

In [17]:
#Initializing Neural Network
classifier = Sequential()
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

/home/instadeeprd/miniconda3/envs/learn/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

## 3.2- Define all functions for compilation

1- optimizer : the optimization technique for Gradient descent

2- loss : the cost (loss) function

3- metrics : define what metrics are used for evaluation during training

In [18]:
# Compiling Neural Network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [19]:
# Fitting our model 
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4830 - acc: 0.7967
Epoch 2/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.4268 - acc: 0.7967
Epoch 3/100
8000/8000 [==============================] - 3s 339us/step - loss: 0.4211 - acc: 0.7986
Epoch 4/100
8000/8000 [==============================] - 2s 283us/step - loss: 0.4167 - acc: 0.8226
Epoch 5/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.4134 - acc: 0.8275
Epoch 6/100
8000/8000 [==============================] - 2s 284us/step - loss: 0.4119 - acc: 0.8305
Epoch 7/100
8000/8000 [==============================] - 2s 288us/step - loss: 0.4099 - acc: 0.8339
Epoch 8/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.4081 - acc: 0.8334
Epoch 9/100
8000/8000 [==============================] - 2s 236us/step - loss: 0.4071 - acc: 0.8332
Epoch 10/100
8000/8000 [==============================] - 2s 266us/step - loss: 0.4056 - acc: 0.8350
Epoch 11/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.4052 - acc: 0.8339
Epoch 12/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.4040 - acc: 0.8360
Epoch 13/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.4033 - acc: 0.8345
Epoch 14/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.4028 - acc: 0.8346
Epoch 15/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.4023 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.4015 - acc: 0.8369
Epoch 17/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.4014 - acc: 0.8347
Epoch 18/100
8000/8000 [==============================] - 2s 243us/step - loss: 0.4007 - acc: 0.8357
Epoch 19/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.4004 - acc: 0.8352
Epoch 20/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.4003 - acc: 0.8356
Epoch 21/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.4000 - acc: 0.8362
Epoch 22/100
8000/8000 [==============================] - 2s 285us/step - loss: 0.3999 - acc: 0.8355
Epoch 23/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.3992 - acc: 0.8366
Epoch 24/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.3992 - acc: 0.8354
Epoch 25/100
8000/8000 [==============================] - 2s 294us/step - loss: 0.3989 - acc: 0.8374
Epoch 26/100
8000/8000 [==============================] - 2s 306us/step - loss: 0.3989 - acc: 0.8359
Epoch 27/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.3988 - acc: 0.8367
Epoch 28/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3984 - acc: 0.8375
Epoch 29/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3984 - acc: 0.8370
Epoch 30/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3980 - acc: 0.8367
Epoch 31/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3978 - acc: 0.8360
Epoch 32/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3977 - acc: 0.8372
Epoch 33/100
8000/8000 [==============================] - 2s 236us/step - loss: 0.3975 - acc: 0.8366
Epoch 34/100
8000/8000 [==============================] - 2s 236us/step - loss: 0.3980 - acc: 0.8374
Epoch 35/100
8000/8000 [==============================] - 2s 253us/step - loss: 0.3976 - acc: 0.8350
Epoch 36/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.3976 - acc: 0.8392
Epoch 37/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3973 - acc: 0.8369
Epoch 38/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.3974 - acc: 0.8366
Epoch 39/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.3975 - acc: 0.8384
Epoch 40/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3977 - acc: 0.8386
Epoch 41/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.3976 - acc: 0.8372
Epoch 42/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.3973 - acc: 0.8386
Epoch 43/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3974 - acc: 0.8372
Epoch 44/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3971 - acc: 0.8401
Epoch 45/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.3968 - acc: 0.8377
Epoch 46/100
8000/8000 [==============================] - 2s 298us/step - loss: 0.3975 - acc: 0.8369
Epoch 47/100
8000/8000 [==============================] - 2s 282us/step - loss: 0.3969 - acc: 0.8376
Epoch 48/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3967 - acc: 0.8365
Epoch 49/100
8000/8000 [==============================] - 2s 281us/step - loss: 0.3965 - acc: 0.8379
Epoch 50/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3969 - acc: 0.8379
Epoch 51/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.3967 - acc: 0.8371
Epoch 52/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.3960 - acc: 0.8390
Epoch 53/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3966 - acc: 0.8387
Epoch 54/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.3966 - acc: 0.8369
Epoch 55/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3965 - acc: 0.8385
Epoch 56/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3967 - acc: 0.8365
Epoch 57/100
8000/8000 [==============================] - 2s 287us/step - loss: 0.3962 - acc: 0.8369
Epoch 58/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3965 - acc: 0.8374
Epoch 59/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.3968 - acc: 0.8367
Epoch 60/100
8000/8000 [==============================] - 2s 258us/step - loss: 0.3962 - acc: 0.8389
Epoch 61/100
8000/8000 [==============================] - 2s 271us/step - loss: 0.3961 - acc: 0.8380
Epoch 62/100
8000/8000 [==============================] - 2s 260us/step - loss: 0.3961 - acc: 0.8390
Epoch 63/100
8000/8000 [==============================] - 2s 295us/step - loss: 0.3966 - acc: 0.8375
Epoch 64/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.3958 - acc: 0.8377
Epoch 65/100
8000/8000 [==============================] - 2s 210us/step - loss: 0.3963 - acc: 0.8386
Epoch 66/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3961 - acc: 0.8394
Epoch 67/100
8000/8000 [==============================] - 2s 251us/step - loss: 0.3962 - acc: 0.8375
Epoch 68/100
8000/8000 [==============================] - 2s 249us/step - loss: 0.3954 - acc: 0.8402
Epoch 69/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.3959 - acc: 0.8385
Epoch 70/100
8000/8000 [==============================] - 2s 289us/step - loss: 0.3959 - acc: 0.8370
Epoch 71/100
8000/8000 [==============================] - 2s 287us/step - loss: 0.3957 - acc: 0.8391
Epoch 72/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3959 - acc: 0.8387
Epoch 73/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3961 - acc: 0.8387
Epoch 74/100
8000/8000 [==============================] - 2s 236us/step - loss: 0.3959 - acc: 0.8377
Epoch 75/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3957 - acc: 0.8372
Epoch 76/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3960 - acc: 0.8375
Epoch 77/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3958 - acc: 0.8385
Epoch 78/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3961 - acc: 0.8386
Epoch 79/100
8000/8000 [==============================] - 2s 209us/step - loss: 0.3957 - acc: 0.8371
Epoch 80/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.3953 - acc: 0.8371
Epoch 81/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3958 - acc: 0.8395
Epoch 82/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3961 - acc: 0.8374
Epoch 83/100
8000/8000 [==============================] - 2s 252us/step - loss: 0.3958 - acc: 0.8379
Epoch 84/100
8000/8000 [==============================] - 2s 297us/step - loss: 0.3955 - acc: 0.8391
Epoch 85/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3957 - acc: 0.8386
Epoch 86/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.3959 - acc: 0.8379
Epoch 87/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3954 - acc: 0.8384
Epoch 88/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.3957 - acc: 0.8391
Epoch 89/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3956 - acc: 0.8382
Epoch 90/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.3955 - acc: 0.8364
Epoch 91/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.3958 - acc: 0.8386
Epoch 92/100
8000/8000 [==============================] - 3s 336us/step - loss: 0.3956 - acc: 0.8381
Epoch 93/100
8000/8000 [==============================] - 3s 330us/step - loss: 0.3957 - acc: 0.8371
Epoch 94/100
8000/8000 [==============================] - 2s 282us/step - loss: 0.3959 - acc: 0.8390
Epoch 95/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.3955 - acc: 0.8379
Epoch 96/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3955 - acc: 0.8377
Epoch 97/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3957 - acc: 0.8385
Epoch 98/100
8000/8000 [==============================] - 2s 296us/step - loss: 0.3955 - acc: 0.8382
Epoch 99/100
8000/8000 [==============================] - 2s 228us/step - loss: 0.3955 - acc: 0.8389
Epoch 100/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3956 - acc: 0.8380

## 3.3- Predicting the Test set results

In [20]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)
print(y_pred)

[[False]
 [ True]
 [False]
 ...
 [False]
 [False]
 [False]]

## 3.4- Creating the Confusion Matrix

![title](Img/confusion_matrix.png)

In [21]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1552   37]
 [ 294  117]]

In [22]:
# Accuracy of our model
accuracy = (cm[0,0]+cm[1,1]) * 100/ cm.sum()
print("The accuracy of our model is %2.1f %%" % accuracy)

The accuracy of our model is 83.5 %